/* Pretendard font */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Thin.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Thin.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Thin.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-ExtraLight.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-ExtraLight.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Light.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Light.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Light.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Regular.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Regular.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Regular.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Medium.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Medium.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Medium.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-SemiBold.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-SemiBold.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-SemiBold.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Bold.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Bold.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-ExtraBold.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Pretendard/Pretendard-Black.otf") format("opentype");
  src: url("../fonts/Pretendard/Pretendard-Black.ttf") format("truetype") 
      url("../fonts/Pretendard/Pretendard-Black.woff") format("woff"),
      url("../fonts/Pretendard/Pretendard-Black.woff2") format("woff2");
}