.header {
    position: sticky;
    display: flex;
    top: 0;
}

.main {
    position: static;
    display: flex;
}

.footer {
    position: static;
    display: flex;
}

.log-in {
    display: flex;
}

.sign-up {
    display: flex;
}

.sign-drop {
    display: flex;
}